body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    background: #333;
    color: white;
    padding: 10px;
}

a {
    margin-right: 10px;
}

textarea,
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    margin-top: 5px;
}

div.post {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}